n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ba501ac0-74a4-4a0f-ad76-603b4563b301",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "e75a1176-6b13-400c-b2d7-9a68bbe3c445",
      "name": "Webhook",
      "webhookId": "ba501ac0-74a4-4a0f-ad76-603b4563b301"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following customer feedback. Provide your analysis strictly in a JSON format with three keys: \"sentiment\", \"summary\", and \"keywords\".\n\n- \"sentiment\" must be one of the following strings: Positive, Negative, or Neutral.\n- \"summary\" must be a one-sentence summary of the main point.\n- \"keywords\" must be an array of 1 to 3 important words or phrases.\n\nHere is the feedback:\n{{ $json.body['Your Feedback  '] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "03c79093-e474-4d6c-8dde-c4e3ffc88267",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "h9dXvNhUxuIOvYex",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SNI-MceinF6Mxyir-_k3g9zaHLo_W5Ho_gbfLULU_kk",
          "mode": "list",
          "cachedResultName": "reworked sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNI-MceinF6Mxyir-_k3g9zaHLo_W5Ho_gbfLULU_kk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNI-MceinF6Mxyir-_k3g9zaHLo_W5Ho_gbfLULU_kk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Webhook').item.json.body.Timestamp }}",
            "Name": "={{ $('Webhook').item.json.body['Name '] }}",
            "Feedback": "={{ $('Webhook').item.json.body['Your Feedback  '] }}",
            "Sentiment": "={{ $('Code').item.json.sentiment }}",
            "Summary": "={{ $('Code').item.json.summary }}",
            "Keywords": "={{ JSON.stringify($('Code').item.json.keywords) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        720,
        0
      ],
      "id": "72b6b0c7-b03e-408b-981d-f5c76a1b0fb3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XVSA0ehTvXyjJt4J",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the text output from the Gemini node using the CORRECT path\nconst geminiOutputText = $('Message a model').item.json.content.parts[0].text;\n\n// Parse the text into a real JSON object\nconst parsedData = JSON.parse(geminiOutputText);\n\n// Return the clean data\nreturn parsedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "63f31674-0705-4f63-8900-85bf61b34f4c",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033538ebdc6f96b9f7db553aca523b453505d0355ef88d9e550773d416c65536"
  }
}
